<!-- _includes/components/header_custom.html -->
<div id="main-header" class="main-header">
  {% if site.search_enabled != false %}
    {% include components/search_header.html %}
  {% endif %}

  <!-- aqui dentro do main-header -->
  <button id="menu-button"
          class="site-button btn-reset"
          aria-label="Toggle menu"
          aria-pressed="false"
          style="display:none">
    ☰
  </button>

  {% if site.aux_links %}
    {% include components/aux_nav.html %}
  {% endif %}
</div>
