--- 
--- 

@import "just-the-docs";

/* =============================
   Meus ajustes de cor no menu
   ============================= */
.sidebar {
    background-color: #0c326f !important;
    /* cor de fundo */
}

.sidebar a {
    color: #ffffff !important;
    /* links em branco */
}

.sidebar a:hover {
    color: #f0f0f0 !important;
    /* hover mais claro */
}
